html {
  background-color: #282c34;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}


.App-header {
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.pokeCard {
  border: 1px solid  #282c34;
  border-radius:0.4rem;
  width: fit-content;
  color: black;
  background-color:white;
  flex-wrap: wrap;
  padding: 1rem;
  margin: 1rem;
}